@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:link {
  color: red;
  font-family: 'Slabo 27px';
  text-decoration: none;
}

a:visited {
  color: white;
  
  font-family: 'Slabo 27px';
  text-decoration: none;
}

a:hover {
  color: red;
}


.article__date {
  color: rgb(126, 126, 189);;
  font-family: Arial, Helvetica, sans-serif;
}

body {

  background-color:rgb(221, 219, 219);
  
}

.Diary__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 320px 320px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.DiaryWeek__Description {
  color:rgb(126, 126, 189);
  font-family: 'Slabo 27px';
  display: flex;
  justify-content: center;
}

.Diary__img {
  display: flex;
  justify-content: center;
}

.headerMain__text {
  color: rgb(186, 186, 243);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
}

.imageW1 {
  width: 50%;
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  &__mainPage{
   margin-right: 10px;
 
}
  
  &__list{

  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
 
    
  }
  
  &__iteam{
    
    display: inline;
    padding: 5px;
  }


  
}


.sectionHeader__text {
  color: rgb(126, 126, 189);
  font-family: 'Slabo 27px';
}


.paragraph, .article__paragraph, .paragraph__test--js {
  color: rgb(126, 126, 189);
  font-family: 'Slabo 27px';
}


.webPage {
  width: 100%;
  max-width: 700px;
  margin: 32px auto;
}





@media (min-width: 641px) {
  
  .navigation__switcher{

      display: none;
  }
 
}

@media (max-width: 640px) {

  .Diary__grid {
      grid-template-columns: 1fr;
  }
  .imageW {
      width: 320px;
      height: 200px;
      
  }
  .imageW img {
      width: 100%;
      height: auto;
      
  }

  .navigation__list {
      flex-direction: column;
      display: none;
  }

  .navigation__list--visible{

      display: flex;
  }

  .navigation__switcher{

      border: none;
      
      position: absolute;
      right:16px;
      top:16px;


  }
}